* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

body {
  margin: 1.5rem;
  padding: 1em;
  text-align: center;
  background-color: #F1DAC4;
  color: #393B5C;
  min-height: 100%;
}

h1 {
  color: #0D0C1D;
  margin: 1.5rem;
}

h2 {
  color: #161B33;
  margin: 1.5rem;
}

.tips {
  color: #4a2d57;
  font-size: 0.9rem;
}

li {
  list-style: inside;
  border-top: 1px solid rgba(51, 51, 51, 0.3);
  border-left: 1px solid rgba(51, 51, 51, 0.3);
  border-right: 1px solid rgba(51, 51, 51, 0.3);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

li:last-of-type {
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  border-radius: 0.5rem;
}